SI2/Práticas/31401/catalog.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com)-->
<!ELEMENT ingredientRecord EMPTY>
<!ATTLIST ingredientRecord
	id CDATA #FIXED "ID"
	nome CDATA #FIXED "NOME"
	qtd CDATA #FIXED "Quantidade"
	unidade CDATA #FIXED "Kg"
>
<!ELEMENT ingredient ((ingredientRecord+))>
<!ELEMENT course ((ingredient, confection))>
<!ATTLIST course
	course_id CDATA #FIXED "0"
	course_name CDATA #FIXED "Nome do Prato"
	course_price CDATA #FIXED "0.0"
>
<!ELEMENT confection (#PCDATA)>
<!ELEMENT category ((course))>
<!ATTLIST category
	cat_name CDATA #FIXED "Nome da Categoria"
>
<!ELEMENT catalog ((category))>
