SI2/Práticas/31401/stockTransfer.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com)-->
<!ELEMENT transaction ((restaurantFrom, restaurantTo))>
<!ATTLIST transaction
	id CDATA #FIXED "Id da transacção"
>
<!ELEMENT stockTransfer ((transaction))>
<!ELEMENT restaurantTo EMPTY>
<!ATTLIST restaurantTo
	id CDATA #FIXED "Restaurant Id"
	name CDATA #FIXED "Restaurant Name"
>
<!ELEMENT restaurantFrom ((ingredient+))>
<!ATTLIST restaurantFrom
	id CDATA #FIXED "Restaurant Id"
	name CDATA #FIXED "Restaurant Name"
>
<!ELEMENT ingredient EMPTY>
<!ATTLIST ingredient
	id CDATA #FIXED "Ingredient ID"
	name CDATA #FIXED "Ingredient Name"
	quantity CDATA #FIXED "Quantidade"
	unit CDATA #FIXED "Unidade"
>
