trunk/SI2/aula1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!ELEMENT telefone ((rede, numero))>
<!ELEMENT rede (#PCDATA)>
<!ELEMENT pessoa ((nome, datanascimento, telefone))>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT datanascimento ((dia, mes, ano))>
<!ELEMENT ano (#PCDATA)>
<!ELEMENT agenda ((pessoa+))>
