trunk/SI2/Práticas/31401/employees.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com)-->
<!ELEMENT restaurant ((employee))>
<!ATTLIST restaurant
	id CDATA #FIXED "ID_RESTAURANT"
	name CDATA #FIXED "NAME_RESTAURANT"
>
<!ELEMENT employees ((restaurant))>
<!ELEMENT employee ((competence+))>
<!ATTLIST employee
	id CDATA #FIXED "EMPLOYEE_ID"
	name CDATA #FIXED "EMPLOYEE_NAME"
>
<!ELEMENT competence EMPTY>
<!ATTLIST competence
	name CDATA #FIXED "Função"
>
