trunk/SI2/Práticas/31401/mobility.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com)-->
<!ELEMENT restaurantTo EMPTY>
<!ATTLIST restaurantTo
	id CDATA #FIXED "RestaurantID"
	name CDATA #FIXED "RestauranteName"
>
<!ELEMENT restaurantFrom EMPTY>
<!ATTLIST restaurantFrom
	id CDATA #FIXED "RestaurantID"
	name CDATA #FIXED "RestauranteName"
>
<!ELEMENT mobility ((employee))>
<!ELEMENT employee ((competence, restaurantFrom, restaurantTo))>
<!ATTLIST employee
	id CDATA #FIXED "Employee_ID"
	name CDATA #FIXED "Employee_Name"
>
<!ELEMENT competence EMPTY>
<!ATTLIST competence
	name CDATA #FIXED "Função"
>
